<% include ./partial/header%>

<h1>Sign Up page</h1>

<form action="/register" method="POST">
	<input type="text"  name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="text" name="adminCode" placeholder="Admin Code">
	<button>Submit</button>
</form>

<% include ./partial/footer%>
