<%include ./partial/header.ejs%>

<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>

	<form  class="ui form" action="/blog" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name= "blog[title]" placeholder="title">
		</div>

		<div class="field">
			<label>Image</label>
			<input type="text" name= "blog[image]" placeholder="put a image">
		</div>

		<div class="field">
			<label>About</label>
			<textarea name= "blog[body]" placeholder="write something"></textarea>
		</div>
		
		
		
		<input class="ui violet big basic button" type="submit">
	</form>
</div>

<%include ./partial/footer.ejs%>